<html ng-app="PickTheFlick">
  <head>
    <title>Pick The Flick</title>
    <link rel="stylesheet" href="css/bundle.css" />
    <script type="text/javascript" src="js/bundle.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </head>

  <body ng-controller="GameController">
    <div class="top-bar" ng-controller="UserController">
      Welcome 
      <span class="user-identity">{{ selected.user.name }}</span>
      <span class="user-points">{{ selected.user.points }} points</span>
    </div>

    
    <div class="flick-input" ng-hide="selected.flick" ng-controller="FlickController">
      <h2> Suggest a movie description </h2>
      <auto-complete result="flick.answer" ></auto-complete>
      <input type="text" class="movie-description"  ng-show="flick.answer"
	     ng-model="flick.description"/>
      <input type="button" class="movie-submit" ng-show="flick.answer" 
	     ng-click="submitRiddle()" value="Submit a movie"/>
    </div>

    <div class="flick-play" ng-show="selected.flick" ng-controller="FlickController">
      <span class="tutorial"> Try to guess the name of the movie described by the following sentence </span>
      <div class="flick-description">{{ selected.flick.description }}</div>
      <div class="flick-input">
	<auto-complete result="selected.flick.answer" ></auto-complete>
	<input type="button" class="movie-submit" ng-show="selected.flick.answer"
	       ng-click="submitAnswer()" value="Submit answer"/>

	<input type="button" class="movie-cancel" ng-click="cancelFlick()" 
	       value="Cancel" />
      </div>

      <div class="rejected-flick-list" ng-show="selected.flick.rejected">
	<div class="rejected-flick" ng-repeat="movie in selected.flick.rejected">
	  <img src="{{ getFacebookImage(movie.sender) }}" class="rejected-sender" />
	  <img src="{{ getPoster(movie.id) }}" class="rejected-poster" />
	</div>
      </div>
    </div>


    <div class="flicks" ng-hide="selected.flick">
      <h2>{{ selected.category.name }}</h2>
      <div class="flick-list">
	<div ng-repeat="flick in selected.category.flicks" 
	     class="flick-thumb" ng-click="selectFlick(flick._id)" >
	
	  <img class="flick-image" src="{{ flick.image }}" />
	  <span class="flick-description">{{ flick.description }}</span>
	</div>
      </div>
    </div>

    <h2>Categories</h2>
    <div class="category-list" ng-controller="CategoryController">
      <div ng-repeat="category in categoryList" class="category-thumb" 
	   ng-click="selectCategory(category._id)" >
	
	<img class="category-image" src="{{ category.image }}" />
	<span class="category-description">{{ category.name }}</span>
      </div>
    </div>

    <div class="modal" ng-show="selected.modal">
      <h1>{{ selected.modal.title}}</h1>
      <div class="modal-close">Close</div>
      <div class="modal-message">{{selected.modal.message}}</div>
    </div>

  </body>
</html>